<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Project</title>
</head>
<body style="color:#898999;padding:3% 4%;font-size:22px;">
    <p>
        The original sentence: <span style="color:#343433;text-align:center;">{{original_text}}</span>
    </p>
    <p>
        The translated sentence: <span style="color:#343433;text-align:center;">{{translated_text}}</span>
    </p>
</body>
</html>